# Local clasp credentials/config
.clasp.json

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/

# Environment files
.env

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

IPA-Core-System-code-export.txt